{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <title>Sabiner-ArticleDetail</title>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/md_github.css' %}">
</head>

<body>
<article class="markdown-body">
    {% load markdown_deux_tags %}
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <h1>{{ blog.title }}</h1>
    <i class="fa fa-user"></i> {{ blog.creator }}
    &nbsp;&nbsp;
    <i class="fa fa-calendar" aria-hidden="true"></i> {{ blog.create_at }}
    <hr />

    <div id="content"></div>
    {{ blog.content | safe }}

    <hr />
</article>
<ul class="layui-fixbar">
    <a href="/">
        <li class="layui-icon layui-icon-home"></li>
    </a>
    <li class="layui-icon layui-icon-top" id="top" onclick="javascript:turn_top();"></li>
</ul>
<script src="{% static 'js/utils.js' %}"></script>
</body>