{% load static %}

<div class="cloud"><h3>{{ tag_name }}</h3></div>
<div class="tags_items">
    <ul>
        {% for item in articles %}
            <li><i class="ztpic"><a href="/article/{{ item.id }}"><img src="{% static item.image_path %}"></a></i>
                <b>{{ item.title }}</b>
                <span>{{ item.description }}</span>
                <a href="/article/{{ item.id }}" target="_blank" class="readmore">文章阅读</a>
            </li>
        {% endfor %}
    </ul>
</div>