{% load static %}

<script type="text/javascript" src="{% static 'js/index/pigeonhole.js' %}"></script>

<div class="navlist">
    <ul>
        <li class="navcurrent"><a href="#top1">按标签</a></li>
        <li><a href="#top1">按时间轴</a></li>
    </ul>
</div>
<div class="navtab">
    <div class="navitem" name="top1">
        <div class="cloud" style="overflow: inherit;">
            <ul>
                {% for tag, count in all_tags.items %}
                    <a onclick="javascript: load_items_by_tag('{{ tag }}')">{{ tag }}&nbsp;<span class="badge">{{ count }}</span></a>
                {% endfor %}
            </ul>
        </div>
        <div class="content" id="items_by_tag"></div>
    </div>
    <div class="navitem" name="top1">
        <div class="content"></div>
    </div>
</div>
