{% load staticfiles %}
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<br/>
<div style="display: flex; display: -webkit-flex; min-height: 90.5vh; flex-direction: column;">
    <div class="layui-container" style="width: 90%; flex: 1;">
        <div class="layui-row">
            <div class="layui-col-xs3 layui-col-md3">
                <ul class="layui-tree" style="width: 65%; float:right; margin-right:25%">
                    {% for article_type, article_titles in articles.iteritems %}
                    {% if article_type != 'news' %}
                    <li>
                        <h2 style="line-height: 36px; border-left: 5px solid #009E94; margin: 15px 0 5px; padding: 0 10px; background-color: #f2f2f2;">
                            {{ article_type }}</h2>
                    </li>
                    {% for article in article_titles %}
                    <li class="site-tree-noicon ">
                        <a href="/article/{{ article.id }}"><cite>{{ article.title }}</cite></a>
                    </li>
                    {% endfor %}
                    <li class="site-tree-noicon ">
                        <a href="javascript: showTag('{{ article_type }}');"><cite>更多 >>></cite></a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="layui-col-xs12 layui-col-md8" id="blog_content">
                <ul class="layui-timeline">
                    {% for article in articles.news %}
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">{{ article.create_at }}</h3>
                            <p>{{ article.title }}</p>
                            <p style="overflow: hidden; text-overflow: ellipsis; display:
                                -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">{{ article.description }}</p>
                            <a href="/article/{{ article.id }}"> 查看更多 >>> </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div style="background-color: #eee; height: 80px;" id="footer">
        <div align="center">
            <br />©2018-2019 gosbiner.com 版权所有<br />
            <img style="width: 20px;" src="{% static 'img/httpsgw.png' %}"> 京ICP备18032969号
        </div>
    </div>
</div>
<ul class="layui-fixbar">
    <li class="layui-icon layui-icon-chat" onclick="javascript:chat();"></li>
    <li class="layui-icon layui-icon-top" id="top" style="display: none" onclick="javascript:turn_top();"></li>
</ul>
<script>
    layui.use('element', function () {
        var element = layui.element;
    });
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        carousel.render({
            elem: '#man',
            width: '100%',
            arrow: 'always'
        });
    });
</script>
<script src="{% static 'js/blog/blog.manage.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
