{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sabiner</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/media.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/myfocus-2.0.4.min.js' %}"></script>
    <!--[if lt IE 9]>
        <script src="{% static 'js/modernizr.js' %}"></script>
    <![endif]-->

    <script type="text/javascript" src="{% static 'js/up/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/up/js.js' %}"></script>
</head>

<body>
<header>
    <div class="logo">
        <div class="logo_l f_l"><a href="/"><img src="{% static 'images/logo.png' %}"></a></div>
        <div class="logo_r f_r"><a href="/"><img src="{% static 'images/search.png' %}"></a></div>
    </div>
    <nav id="topnav">
        <ul>
            <a href="">首页</a>
            <a href="#">归档</a>
            <a href="javascript:about_me();">关于我</a>
            <a href="#">留言</a>
        </ul>
        <script src="{% static 'js/silder.js' %}"></script>
    </nav>
</header>
<article>
    <div class="l_box f_l">
        <div class="banner f_l">
            <script type="text/javascript">
                myFocus.set({
                    id: 'myFocus',//ID
                    pattern: 'mF_fancy'//风格
                });
            </script>
            <div id="myFocus">
                <div class="loading"></div>
                <div class="pic">
                    <ul>
                        <li><a href="#1"><img src="{% static 'images/1m.jpg' %}" /></a></li>
                        <li><a href="#2"><img src="{% static 'images/2m.jpg' %}" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="focustext f_r">
            <section class="ft01">
                <h3><a href="/" target="_blank">魏无羡</a></h3>
                <p>愿我魏无羡，能够一生锄奸扶弱，无愧于心</p>
            </section>
            <section class="ft02">
                <h3><a href="/" target="_blank">蓝忘玑</a></h3>
                <p>我想带一人，回云深不知处。带回去，藏起来</p>
            </section>
        </div>
        <div class="blank"></div>
        <div class="topnews">
            <h2>
                <b>文章推荐</b>
            </h2>
            <div id="content"></div>
        </div>
    </div>
    <div class="r_box f_r">
        <div class="tit01">
            <h3>关注我</h3>
            <div class="gzwm">
                <ul>
                    <li><a class="xlwb" href="http://github.com/Sabiner" target="_blank">GitHub</a></li>
                    <li><a class="rss" href="mailto:2267313059@qq.com">邮箱</a></li>
                    <li><a class="wx" onmouseover="tip.start(this)"
                           tips="<font color='#fff'>关注<b>Sabiner</b>微信账号</font><br><b>
                           <img src='{% static 'images/ft-wx-s.png' %}'></b>">微信</a>
                    </li>
                    <div id="mjs:tip" class="tip" style="position:absolute;left:0;top:0;display:none;"></div>
                    <script>
                        var tip = {
                            $: function (ele) {
                                if (typeof (ele) == "object")
                                    return ele;
                                else if (typeof (ele) == "string" || typeof (ele) == "number")
                                    return document.getElementById(ele.toString());
                                return null;
                            },
                            mousePos: function (e) {
                                var x, y;
                                var e = e || window.event;
                                return {
                                    x: e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft,
                                    y: e.clientY + document.body.scrollTop + document.documentElement.scrollTop
                                };
                            },
                            start: function (obj) {
                                var self = this;
                                var t = self.$("mjs:tip");
                                obj.onmousemove = function (e) {
                                    var mouse = self.mousePos(e);
                                    t.style.left = mouse.x + 10 + 'px';
                                    t.style.top = mouse.y + 10 + 'px';
                                    t.innerHTML = obj.getAttribute("tips");
                                    t.style.display = '';
                                };
                                obj.onmouseout = function () {
                                    t.style.display = 'none';
                                };
                            }
                        }
                    </script>
                </ul>
            </div>
        </div>
        <div class="moreSelect" id="lp_right_select">
            <script>
                window.onload = function () {
                    var oLi = document.getElementById("tab").getElementsByTagName("li");
                    var oUl = document.getElementById("ms-main").getElementsByTagName("div");

                    for (var i = 0; i < oLi.length; i++) {
                        oLi[i].index = i;
                        oLi[i].onmouseover = function () {
                            for (var n = 0; n < oLi.length; n++) oLi[n].className = "";
                            this.className = "cur";
                            for (var n = 0; n < oUl.length; n++) oUl[n].style.display = "none";
                            oUl[this.index].style.display = "block"
                        }
                    }
                }
            </script>
            <div class="ms-top">
                <ul class="hd" id="tab">
                    <li class="cur"><a>点击排行</a></li>
                    <li><a>最新文章</a></li>
                    <li><a>站长推荐</a></li>
                </ul>
            </div>
            <div class="ms-main" id="ms-main"></div>
        </div>
        <div class="cloud">
            <h3>标签</h3>
            <ul>
                <a href="/">Python</a>
                <a href="/">MySQL</a>
                <a href="/">数据结构</a>
                <a href="/">算法</a>
                <a href="/">Linux</a>
                <a href="/">OpenStack</a>
                <a href="/">协议</a>
                <a href="/">网络</a>
                <a href="/">BUG</a>
                <a href="/">Other</a>
            </ul>
        </div>
        <div class="tuwen" id="correlation"></div>
    </div>
</article>
<footer>
    <div class="endfoot">
        <div class="ft-list f_r">
            <div class="ft-shares"></div>
            <div class="ft-nav">
                <a href="#" id="qaurl">问题反馈</a>
            </div>
            <p class="ft-copyright"> Copyright 2020 Sabiner</p>
        </div>
    </div>

    <div id="tbox"><a id="togbook" href="/"></a> <a id="gotop" href="javascript:void(0)"></a></div>
</footer>
</body>
</html>
<script src="{% static 'js/index/index.js' %}"></script>
<script>
    load_page();
</script>
