{% load static %}

<script type="text/javascript" src="{% static 'js/index/pigeonhole.js' %}"></script>

<div class="navlist">
    <ul>
        <li class="navcurrent"><a href="#top1">按标签</a></li>
        <li><a href="#top1">按时间轴</a></li>
    </ul>
</div>
<div class="navtab">
    <div class="navitem" name="top1">
        <div class="cloud" style="overflow: inherit;">
            <ul>
                <a href="/">Python</a>
                <a href="/">MySQL</a>
                <a href="/">数据结构</a>
                <a href="/">算法</a>
                <a href="/">Linux</a>
                <a href="/">OpenStack</a>
                <a href="/">协议</a>
                <a href="/">网络</a>
                <a href="/">BUG</a>
                <a href="/">Other</a>
            </ul>
        </div>
        <div class="content">
            <div class="cloud"><h3>Python</h3></div>
        </div>
    </div>
    <div class="navitem" name="top1">
        <div class="content">

        </div>
    </div>
</div>
