
<div>
    <section class="small_stage">
        <figure class="small_ball bubble">
            <span class="content"> Python </span>
        </figure>
    </section>
    <div style="float: right; top: 10px;">
        <section class="small_stage">
            <figure class="small_ball bubble" style="width: 60%; height: 60%">
                <span class="content"> Storage </span>
            </figure>
        </section>
    </div>
    <div style="float: right; margin-left: 20%">
        <section class="small_stage">
            <figure class="small_ball bubble" style="width: 50%; height: 50%;margin-top:50%">
                <span class="content"> HTML </span>
            </figure>
        </section>
    </div>
    <div style="float: left">
        <section class="small_stage">
            <figure class="small_ball bubble" style="width: 50%; height: 50%;margin-top:50%">
                <span class="content"> JAVA </span>
            </figure>
        </section>
    </div>
</div>

<div>
    <div style="float: right">
        <div style="float: left; ">
            <section class="small_stage">
                <figure class="small_ball bubble" style="width: 20%; height: 20%"></figure>
            </section>
        </div>
        <section class="small_stage">
            <figure class="small_ball bubble" style="width: 50%; height: 50%">
                <span class="content"> MySQL </span>
            </figure>
        </section>
    </div>
    <div style="float: right; margin-right: 5%">
        <section class="stage">
            <figure class="ball">
                <span class="shadow"></span>
                <span class="iris"></span>
            </figure>
        </section>
    </div>
    <div style="float: left; margin-left: 100px">
        <section class="small_stage">
            <figure class="small_ball bubble" style="width: 50%; height: 50%">
                <span class="content"> JS </span>
            </figure>
        </section>
    </div>
    <div style="float: left; margin-left: 1px">
        <section class="small_stage">
            <figure class="small_ball bubble" style="width: 80%; height: 80%;margin-top: 50%">
                <span class="content"> Linux </span>
            </figure>
        </section>
    </div>
</div>
