{% load static %}

<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/media.css' %}" rel="stylesheet">

<script type="text/javascript" src="{% static 'js/up/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/up/js.js' %}"></script>
<script src="{% static 'js/index/index.js' %}"></script>

<body>
<header>
    <div class="logo">
        <div class="logo_l f_l"><a href="/"><img src="{% static 'images/logo.png' %}"></a></div>
        <div class="logo_r f_r"><a href="/"><img src="{% static 'images/search.png' %}"></a></div>
    </div>
    <nav id="topnav">
        <ul>
            <a onclick="javascript: switch_tag(this)" href="" id="topnav_current">首页</a>
            <a onclick="javascript: switch_tag(this)" href="javascript: pigeonhole();">归档</a>
            <a onclick="javascript: switch_tag(this)" href="javascript: about_me();">关于我</a>
            <a onclick="javascript: switch_tag(this)" href="javascript: message_board();">留言</a>
        </ul>
        <script src="{% static 'js/silder.js' %}"></script>
    </nav>
</header>
<article>
    <div class="markdown-body" style="width: 78%; background: #fff; box-shadow: #ccc 1px 1px 8px; float: left">
        <link rel="stylesheet" href="{% static 'css/md_github.css' %}">
        <div class="blank"></div>
        {% load markdown_deux_tags %}
        <h1>{{ article.title }}</h1>
        <i class="fa fa-user"></i> {{ article.creator }}
        &nbsp;&nbsp;
        <i class="fa fa-calendar" aria-hidden="true"></i> {{ article.create_at }}
        <hr />
        {{ article.content | safe }}
    </div>
    <div style="width: 20%; float: right">
        <ul class="list-group">
            <li class="list-group-item">Title</li>
            <li class="list-group-item">1. Step One</li>
            <li class="list-group-item">2. Step Two</li>
            <li class="list-group-item">3. Step Three</li>
        </ul>
    </div>
    <div class="blank"></div>
</article>
<footer>
    <div class="endfoot">
        <div class="ft-list f_r">

            <div class="ft-shares">
                <a class="shares-ten" title="腾讯微博" href="#" target="_blank"></a>
                <a class="shares-dib" href="#" target="_blank"></a>
            </div>

            <div class="ft-nav">
                <a href="#" id="qaurl">问题反馈</a>
            </div>
            <p class="ft-copyright"> Copyright 2020 Sabiner</p>
        </div>
    </div>

    <div id="tbox"><a id="togbook" href="/"></a> <a id="gotop" href="javascript:void(0)"></a></div>
</footer>

</body>
